[VERSION]
major = 1
minor = 0

[GENERAL]
atc_type = "$$:JMB Aviation"
atc_model = "$$:VL3"
Category = "airplane"
performance = "Todo"
icao_type_designator = "VL3"
icao_manufacturer = "AVEKO"
icao_model = "VL-3"
icao_engine_type = "Piston"
icao_engine_count = 1
icao_WTC = "L"

[PILOT]
pilot = "Pilot_Female_Casual"
copilot = "Pilot_Male_Casual"
instructor = "Pilot_Male_Casual"
pilot_default_animation = "Idle1_PosePropeller"
copilot_default_animation = "Idle1_PosePropeller"
pilot_attach_node = "PILOT_0"
copilot_attach_node = "PILOT_1"

[SERVICES]
FUELTRUCK = 1
BAGGAGE_LOADER = 0
CATERING_TRUCK = 0
BOARDING_RAMP = 0
GROUND_POWER_UNIT = 0
PUSHBACK = 0
SMALL_PUSHBACK = 1
MARSHALLER = 1
JETWAY = 0

[EFFECTS]
wake = fx_wake
water = fx_spray ; (feet) distance from FlightSim Reference position: (1/4 chord, centerline, waterline)
dirt = fx_tchdrt
concrete = fx_sparks
touchdown = fx_tchdwn_s, 1

;===================== FLTSIM =====================

[FLTSIM.0]
title = "VL-3 915 Orange Racing" ; Variation name
model = "RACING" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "RACING" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 0 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "TT:AIRCRAFT.UI_MANUFACTURER" ; e.g. Boeing, Cessna
ui_type = "VL-3 915" ; e.g. 747-400, 172
ui_variation = "Orange Racing" ; e.g. World Air, IFR Panel
ui_typerole = "Single Engine Prop" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Asobo Studio" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 23000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 1080 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 6 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = -1 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "N915VL" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "Communal" ; airline name
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "RAMP" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user

[FLTSIM.1]
title = "VL-3 915 Factory Prototype" ; Variation name
model = "03" ; model folder
panel = "NOREG" ; panel folder
sound = "" ; sound folder
texture = "03" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 0 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "TT:AIRCRAFT.UI_MANUFACTURER" ; e.g. Boeing, Cessna
ui_type = "VL-3 915" ; e.g. 747-400, 172
ui_variation = "Factory Prototype" ; e.g. World Air, IFR Panel
ui_typerole = "Single Engine Prop" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Asobo Studio" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 23000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 1080 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 6 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = -1 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "OK SUU 44" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "Communal" ; airline name
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "RAMP" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user

[FLTSIM.2]
title = "VL-3 915 Red Hawke" ; Variation name
model = "REDHAWKE" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "REDHAWKE" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 2 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "TT:AIRCRAFT.UI_MANUFACTURER" ; e.g. Boeing, Cessna
ui_type = "VL-3 915" ; e.g. 747-400, 172
ui_variation = "Red Hawke" ; e.g. World Air, IFR Panel
ui_typerole = "Single Engine Prop" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Asobo Studios" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 23000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 1080 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 6 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = -1 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "VL3-915" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "Hawke Air" ; airline name
icao_airline = "" ; airline icao code
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "RAMP" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user

[FLTSIM.3]
title = "VL-3 915 Black Hawke"; Variation name
model = "BLACKHAWKE" ; model folder
panel = "BLACKHAWKE" ; panel folder
sound = "" ; sound folder
texture = "BLACKHAWKE" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 2 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "TT:AIRCRAFT.UI_MANUFACTURER" ; e.g. Boeing, Cessna
ui_type = "VL-3 915" ; e.g. 747-400, 172
ui_variation = "Black Hawke" ; e.g. World Air, IFR Panel
ui_typerole = "Single Engine Prop" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Asobo Studios" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 23000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 1080 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 6 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = -1 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "VL3-915" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
icao_airline = "" ; airline icao code
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "RAMP" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user

[FLTSIM.4]
title = "VL-3 915 Lion"; Variation name
model = "LION" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "LION" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 2 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "TT:AIRCRAFT.UI_MANUFACTURER" ; e.g. Boeing, Cessna
ui_type = "VL-3 915" ; e.g. 747-400, 172
ui_variation = "Lion" ; e.g. World Air, IFR Panel
ui_typerole = "Single Engine Prop" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Asobo Studios" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 23000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 1080 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 6 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = -1 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "VL3-915" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
icao_airline = "" ; airline icao code
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "RAMP" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user

[FLTSIM.5]
title = "VL-3 915 Volt"; Variation name
model = "VOLT" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "VOLT" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 2 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "TT:AIRCRAFT.UI_MANUFACTURER" ; e.g. Boeing, Cessna
ui_type = "VL-3 915" ; e.g. 747-400, 172
ui_variation = "Volt" ; e.g. World Air, IFR Panel
ui_typerole = "Single Engine Prop" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Asobo Studios" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 23000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 1080 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 6 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = -1 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "VL3-915" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
icao_airline = "" ; airline icao code
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "RAMP" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user

[FLTSIM.6]
title = "VL-3 915 Executive"; Variation name
model = "EXECUTIVE" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "EXECUTIVE" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 2 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "TT:AIRCRAFT.UI_MANUFACTURER" ; e.g. Boeing, Cessna
ui_type = "VL-3 915" ; e.g. 747-400, 172
ui_variation = "Executive" ; e.g. World Air, IFR Panel
ui_typerole = "Single Engine Prop" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Asobo Studios" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 23000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 1080 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 6 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = -1 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "VL3-915" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
icao_airline = "" ; airline icao code
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "RAMP" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user
